
@{
    ViewData["Title"] = "Blogs";
}

<div class="container-xxl blog-wrapper home-wrapper-2 py-5">
    <div class="row">
        <div class="col-3">
            <div class="filter-card mb-3">
                <h3 class="filter-title">Find By Categories</h3>
                <div>
                    <ul class="ps-0">
                        <li>Fruits</li>
                        <li>Vegetables</li>
                        <li>grains</li>
                        <li>Bean</li>
                        <li>herbs</li>
                        <li>Lentils</li>
                        <li>Flours</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6 mb-3">
                    <div class="blog-card">
                        <div class="card-image">
                            <img src="../images/fruits.jpg" class="img-fluid w-100" alt="blog" />
                        </div>
                        <div class="blog-content">
                            <p class="date">1 Dec, 2022</p>
                            <h5 class="title">Blog 1</h5>
                            <p class="desc">
                                Provide a valid, navigable address as the href value.
                                If you cannot provide a valid href, but still need
                                the element to resemble a link, use a button and
                                change it with appropriate styles.
                            </p>
                            <a class="button" asp-action="SingleBlog" asp-controller="Home" asp-route-id="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="blog-card">
                        <div class="card-image">
                            <img src="../images/fruits.jpg" class="img-fluid w-100" alt="blog" />
                        </div>
                        <div class="blog-content">
                            <p class="date">1 Dec, 2022</p>
                            <h5 class="title">Blog 1</h5>
                            <p class="desc">
                                Provide a valid, navigable address as the href value.
                                If you cannot provide a valid href, but still need
                                the element to resemble a link, use a button and
                                change it with appropriate styles.
                            </p>
                            <a class="button" asp-action="SingleBlog" asp-controller="Home" asp-route-id="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="blog-card">
                        <div class="card-image">
                            <img src="../images/fruits.jpg" class="img-fluid w-100" alt="blog" />
                        </div>
                        <div class="blog-content">
                            <p class="date">1 Dec, 2022</p>
                            <h5 class="title">Blog 1</h5>
                            <p class="desc">
                                Provide a valid, navigable address as the href value.
                                If you cannot provide a valid href, but still need
                                the element to resemble a link, use a button and
                                change it with appropriate styles.
                            </p>
                            <a class="button" asp-action="SingleBlog" asp-controller="Home" asp-route-id="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="blog-card">
                        <div class="card-image">
                            <img src="../images/fruits.jpg" class="img-fluid w-100" alt="blog" />
                        </div>
                        <div class="blog-content">
                            <p class="date">1 Dec, 2022</p>
                            <h5 class="title">Blog 1</h5>
                            <p class="desc">
                                Provide a valid, navigable address as the href value.
                                If you cannot provide a valid href, but still need
                                the element to resemble a link, use a button and
                                change it with appropriate styles.
                            </p>
                            <a class="button" asp-action="SingleBlog" asp-controller="Home" asp-route-id="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

