<h2>Cart Items</h2>
@{
    decimal totalAmount = 0;
}

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class='cart-col-1 gap-15 d-flex align-items-center'>
            <div class='w-25'>
                <img class='img-fluid' src="~/images/fruit/apple.jpg" alt='product img' />
            </div>
            <div class='w-75'>
                <p>@item.Id</p>
                <p>@item.Name</p>
                <p>₹@item.Price</p>
            </div>
        </div>

        
        <hr />

        {
            decimal itemTotal = item.Price; // Multiply by quantity if available
            totalAmount += itemTotal;
        }
    }

    <div class='col-12 py-2 mt-4'>
        <div class='d-flex justify-content-between align-items-baseline'>
            <a class='button' asp-action="Index" asp-controller="Home">Continue Shopping</a>
            <div class='d-flex flex-column align-items-end'>
                <h4>SubTotal : ₹@totalAmount</h4>
                <p>Shipping Calculated at checkout</p>
                <a class='button' asp-action="CheckOut" asp-controller="Home">Checkout</a>
            </div>
        </div>
    </div>
    
}
else
{
    <p>No items in the cart.</p>
}
