
@{
    ViewData["Title"] = "CompareProduct";
}

<div class="container-xxl bg-color">
    <div class="row">
        <div class="container-xxl">
            <div class="row">
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-3">
                            <div class="container-xxl">
                                <div class="product-card">
                                    @* <div class='wishlist-icon position-relative'>

                                        <div class='action-bar position-absolute'>

                                            <div class='d-flex flex-column'>
                                                <button class='border-0 bg-transparent'>
                                                    <img src='~/images/wish.svg' alt='wishlist' />
                                                </button>
                                                <button class='border-0 bg-transparent'>
                                                    <img src='~/images/prodcompare.svg' alt='compare' />
                                                </button>
                                                <button class='border-0 bg-transparent'>
                                                    <a class="d-flex align-items-center gap-10" asp-area="" asp-controller="Home" asp-action="SingleProduct">
                                                        <img src='~/images/view.svg' alt='view' />
                                                    </a>
                                                </button>
                                                <button class='border-0 bg-transparent'>
                                                    <img src='~/images/add-cart.svg' alt='addcart' />
                                                </button>
                                            </div>
                                        </div>
                                    </div> *@
                                    <div class='product-image'>
                                        <img height="214px" src='~/images/fruit/apple.jpg' alt='product' />
                                    </div>
                                    <div class='product-details'>
                                        <div class='compare-product-details'>
                                            <div class="product-details">
                                                <h5>Name:  @item.Name</h5>
                                              <p></p>
                                            </div>
                                            <div class="product-details">
                                                <h5>Type:  @item.Type</h5>
                                                <p></p>
                                            </div>
                                            <div class="product-details">
                                                <h5>Availability :  In Stock</h5>
                                                <p></p>
                                            </div>
                                            <div class="product-details">
                                                <h5>Variety :  @item.Variety</h5>
                                                <p></p>
                                            </div>
                                            <div class="product-details">
                                                <h5>Price:  ₹@item.Price</h5>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No items in the cart.</p>
                }
            </div>
        </div>


    </div>
</div>

