
@{
    ViewData["Title"] = "Contact";
}

<div class="container-xxl contact-wrapper home-wrapper-2 py-5">
    <div class="row">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2210.4119672718916!2d70.55278991840885!3d21.431732646951392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be2a9c185835357%3A0x47ac0d50a00205bf!2sAmrut%20Institute%20Junagadh!5e0!3m2!1sen!2sin!4v1705764825923!5m2!1sen!2sin" width="600" height="450" class="border-0 w-100" allowfullscreen="" loading="lazy" title="iframe" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-12 mt-5">
            <div class="contact-inner-wrapper d-flex justify-content-between">
                <div>
                    <h3 class="contact-title mb-4">Contact</h3>
                    <form action="" class="d-flex flex-column gap-15">
                        <div>
                            <input type="text" class="form-control" placeholder="Name" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" />
                        </div>
                        <div>
                            <input type="tel" class="form-control" placeholder="Mobile Number" />
                        </div>
                        <div>
                            <textarea class="w-100 form-control" name="" id="" cols="30" rows="4" placeholder="Comments"></textarea>
                        </div>
                        <div>
                            <button class="button border-0">Submit</button>
                        </div>
                    </form>
                </div>
                <div>
                    <h3 class="contact-title mb-4">Get In Touch With Us</h3>
                    <div>
                        <ul class="ps-0">
                            <li class="mb-3 d-flex gap-15 align-items-center">
                                <i class="fas fa-home fs-5"></i>
                                <address class="mb-0">Besides Amrut Institute, Toraniya, Junagadh, PinCode: 362263</address>
                            </li>
                            <li class="mb-3 d-flex gap-15 align-items-center">
                                <i class="fas fa-phone fs-5"></i>
                                <a href="tel:+91 8140114045">+91 8140114045</a>
                            </li>
                            <li class="mb-3 d-flex gap-15 align-items-center">
                                <i class="fas fa-envelope fs-5"></i>
                                <a href="mailto:niyatisavaliya89@gmail.com">niyatisavaliya89@gmail.com</a>
                            </li>
                            <li class="mb-3 d-flex gap-15 align-items-center">
                                <i class="fas fa-info-circle fs-5"></i>
                                <p class="mb-0">Monday - Friday 10 AM - 8 PM</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

