
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="login-wrapper py-5 home-wrapper-2">
    <div class="row">
        <div class="col-12">
            <div class="auth-card">
                <h3 class="text-center mb-3">Reset Password</h3>
                <form asp-action="" class="d-flex flex-column gap-20">
                    <Input class="form-control" type="password" name="password" placeholder="Password" />
                    <Input class="form-control" type="password" name="confpassword" placeholder="Confirm Password" />

                    <div>
                        <div class="mt-2 d-flex justify-content-center gap-15 align-items-center">
                            <button type="submit" class="button border-0">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

