
@{
    ViewData["Title"] = "Refund";
}

<div class='container-xxl policy-wrapper py-5 home-wrapper-2'>
    <div class='row'>
        <div class='col-12'>
            <div class='policy'>
                <p>
                    <h2>Refund Policy</h2>
                    <br />
                <b>1. Refund Eligibility:</b><br />
                We offer refunds for products that meet one or more of the following criteria:
                <br />
                Damaged or Defective Products: If you receive a product that is damaged or defective, please contact us within [number] days of receiving the item, and we will arrange for a replacement or refund.
                <br />
                Incorrect Items: If you receive the wrong product, notify us within [number] days, and we will promptly send you the correct item or issue a refund.
                <br /><br />
                <b>2. Refund Process:</b>
                <br />
                To initiate a refund, please follow these steps:
                <br />
                Contact Customer Support: Reach out to our customer support team at [contact@email.com] within the specified time frame with your order number, a description of the issue, and relevant photos if applicable.
                <br />
                Verification: Our team will review your request and may request additional information to verify the issue.
                <br />
                Refund or Replacement: Upon approval, we will process a refund to your original payment method or arrange for a replacement, depending on your preference and product availability.
                <br /><br />
                <b>3. Non-Refundable Items:</b><br />
                Certain items are non-refundable including Perishable Goods Due to the nature of our products, perishable goods are non-refundable. However, if they arrive damaged or defective, we will address the issue as outlined in Section 1.
                <br /><br />
                <b>4. Processing Time:</b><br />
                Refunds will be processed within [number] business days after the approval of your request. The time it takes for the refund to reflect in your account may vary depending on your payment method.
                <br /><br />
                <b>5. Contact Us:</b><br />
                If you have any questions or concerns regarding our refund policy, please contact us at [contact@email.com]. We are here to assist you and ensure your satisfaction with OrganicBuddy products.
                <br /><br />
                <b>6. Policy Changes:</b><br />
                OrganicBuddy reserves the right to update or modify this refund policy at any time. Any changes will be reflected with a new "Last Updated" date.
                <br /><br />
                Thank you for choosing OrganicBuddy. Your satisfaction is our priority.
                </p>
            </div>
        </div>
    </div>
</div>


