
@{
    ViewData["Title"] = "Shipping";
}
<div class='container-xxl policy-wrapper py-5 home-wrapper-2'>
    <div class='row'>
        <div class='col-12'>
            <div class='policy'>
                <p>
                    <h2>Shipping Policy</h2>
                    <br />
                    <b>1. Order Processing:</b><br />
                    Orders are typically processed within [number] business days from the date of purchase. During peak seasons or promotions, processing times may slightly vary. You will receive a confirmation email with tracking information once your order has been dispatched.
                    <br /><br />
                    <b>2. Shipping Times:</b><br />
                    Shipping times depend on your location and the shipping method selected at checkout. Standard shipping within [region/country] generally takes [number] business days, while expedited options may be available for quicker delivery.
                    <br /><br />
                    <b>3. Shipping Costs:</b><br />
                    Shipping costs are calculated at checkout based on the weight of your order and your location. We aim to provide transparent and fair shipping rates. Orders exceeding a certain amount may qualify for free shipping, and this information will be clearly communicated during the checkout process.
                    <br /><br />
                    <b>4. International Shipping:</b><br />
                    For international orders, additional customs duties, taxes, and fees may apply. Customers are responsible for covering these charges. International shipping times may vary based on the destination and local customs processes.
                    <br /><br />
                    <b>5. Tracking Information:</b>
                    To keep you informed about the status of your order, we provide tracking information once your package is on its way. You can track your shipment through the provided carrier's link or on our website.
                    <br /><br />
                    <b>6. Shipping Delays:</b><br />
                    While we make every effort to deliver your orders on time, external factors such as weather conditions, customs procedures, or other unforeseen events may cause delays. We will communicate any significant delays promptly.
                    <br /><br />
                    <b>7. Shipping Restrictions:</b><br />
                    Certain products may have shipping restrictions based on regional or international regulations. Please review product descriptions and shipping information during the checkout process.
                    <br /><br />
                    <b>8. Contact Us:</b><br />
                    If you have any questions or concerns regarding our shipping policy, please contact our customer support at [contact@email.com]. We are here to assist you and ensure a positive experience with OrganicBuddy.
                    <br /><br />
                    <b>9. Policy Changes:</b><br />
                    OrganicBuddy reserves the right to update or modify this shipping policy at any time. Any changes will be reflected with a new "Last Updated" date.
                    <br /><br />
                    Thank you for choosing OrganicBuddy for your organic and sustainable living needs. We appreciate your trust in our products and services.
                </p>
            </div>
        </div>
    </div>
</div>

