
@{
    ViewData["Title"] = "SingleBlog";
}

<div class="container-xxl blog-wrapper home-wrapper-2 py-5">
    <div class="row">
        <div class="col-12">
            <div class="single-blog-card">
                <a class="d-flex align-items-center gap-10" asp-area="" asp-controller="Home" asp-action="Blogs">Go Back To Blogs</a>
                <h3 class="title">
                    Beyond Red and Green: A Gourmet Exploration of Apple Varieties
                </h3>
                <div class="container-xxl">
                <img src="~/images/fruits.jpg" class="img-fluid w-100 my-4" alt="blog" />
                </div>
                <p>
                    These are just a few examples, and there are many more fruits and vegetables, each with its own set of nutritional benefits and culinary uses. If you have specific fruits or vegetables in mind, feel free to ask for more detailed information!
                </p>
            </div>
        </div>
    </div>
</div>

