
@{
    ViewData["Title"] = "TaC";
}

<div class='container-xxl policy-wrapper py-5 home-wrapper-2'>
    <div class='row'>
        <div class='col-12'>
            <div class='policy'>
                <p>
                    <h2>Terms & Condition</h2>
                    <br />
                    <b>1. Use of the Website:</b><br />
                    You agree to use the OrganicBuddy website for lawful purposes only and in a manner consistent with all applicable local, national, or international laws and regulations.
                    <br /><br />
                    <b>2. Account Creation:</b><br />
                    To access certain features of our website, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and agree to accept responsibility for all activities that occur under your account.
                    <br /><br />
                    <b>3. Product Information:</b><br />
                    While we strive to provide accurate product information, OrganicBuddy does not guarantee the accuracy, completeness, or reliability of any product descriptions, prices, or other content on the website. We reserve the right to correct any errors or inaccuracies without notice.
                    <br /><br />
                    <b>4. Intellectual Property:</b><br />
                    All content on the OrganicBuddy website, including text, graphics, logos, images, and software, is the property of OrganicBuddy and is protected by intellectual property laws. You may not reproduce, distribute, or create derivative works without explicit permission.
                    <br /><br />
                    <b>5. User Content:</b><br />
                    By submitting any content (such as reviews or comments) to OrganicBuddy, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, modify, display, and distribute the content on our website and other marketing materials.
                    <br /><br />
                    <b>6. Third-Party Links:</b><br />
                    OrganicBuddy may include links to third-party websites. We are not responsible for the content or privacy practices of these sites. You should review the terms and conditions and privacy policy of any third-party site you visit.
                    <br /><br />
                    <b>7. Limitation of Liability:</b><br />
                    OrganicBuddy is not liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your access to or use of our website. This limitation applies even if OrganicBuddy has been advised of the possibility of such damages.
                    <br /><br />
                    <b>8. Governing Law:</b><br />
                    These terms and conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any dispute arising out of or related to the use of OrganicBuddy shall be subject to the exclusive jurisdiction of the courts in [Your Jurisdiction].
                    <br /><br />
                    <b>9. Changes to Terms and Conditions:</b><br />
                    OrganicBuddy reserves the right to update or modify these terms and conditions at any time. Changes will be effective immediately upon posting. Your continued use of the website after any changes constitute acceptance of the revised terms.
                    <br /><br />
                    <b>10. Contact Information:</b><br />
                    If you have any questions or concerns about these terms and conditions, please contact us at [contact@email.com].
                    <br /><br />
                    Thank you for choosing OrganicBuddy. We appreciate your compliance with these terms and hope you have a positive experience on our platform.
                    
                </p>
            </div>
        </div>
    </div>
</div>

